/* Employeedatagraph.css */

/* Existing styles... */

/* Add the provided CSS for scrollable options */

  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Sora:wght@300;400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  height:100vh;
  font-family: 'Sora', sans-serif;

}
/* Add these styles to horizontally center the div */
.parent-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);/* Horizontally center the content */
}

.scrollable-options {
  width: 300px;
  border: 1px solid #ccc;
  overflow: hidden;
  height: 60px;
  position: absolute;
  justify-content: center;
  /* top: calc(100% + 5px); */
  /* left: 40%; */
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 45px; 
  left: 50%; /* Horizontally center the dropdown */
  transform: translateX(-50%); /* Adjust the position */
}
.hidden {
  display: none;
}


.options-container {
  overflow-y: auto; /* Add a scrollbar when needed */
  height: 100%; /* Take up the full height of the container */
}

.options-list {
  list-style-type: none;
  padding: 0;
  background-color:rgb(250, 250, 250);
}

.option {
  /* padding: 5px; */
  cursor: pointer;
  border-bottom: 1px solid #ccc;/* Optional: Add a border between options */
  
}

.option:last-child {
  border-bottom: none; /* Remove border for the last option */
}
.option:first-child {
  top:1;
  /* color:blue; */
  padding-top: 0; /* Remove border for the last option */
}

.selection-section{
  position:absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-50%);
  /* border:1px solid black; */
  /* border:8px dotted rgb(250, 249, 249); */
  border-radius: 10px;
  padding:50px;
  background-color: rgb(250, 249, 249);
  box-shadow: 0 0 0 0.8px #000;
}
.data-section{
  font-size: 30px;
  font-weight: 600;
}
.summary-section{
  border:1px dotted pink;
  border-radius: 20px;
  width:90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 10px;
 }
 .voice-navbar-section{
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 8vh; */
  background-color:#FAFAFA;
  color: black;
  /* padding: 10px 10px !important; */
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
  z-index: 100; /* Ensure the navbar is above other elements */
  /* text-align: center; */
  /* color: pink; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  box-shadow: 0 0.15px 0 0 #21261B;
  /* border-bottom: 0.1px solid #21261B; */
  
 height:60px !important;
  /* padding-left: 20px; */
}
.voice-parent-div{
  display: flex;
  flex-direction: row;
  gap:5px;
  align-items: center;
}
.voice-image-div{
  width:40px;
  height:40px;
}
.voice-image-div-section{
  width:100%;
  height:100%;
  object-fit: cover;

}
.heading-text{
  font-size: 15px;
  font-weight: 600;
  letter-spacing:0.5px ;
}


